<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quotes</title>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script >
      $(document).ready(function(){
        $('#btn').click(function(){
          $.get('posts/get', function(res) {
          	console.log(res);
            var htmlStr = "";
            	htmlStr += "<div class='Posts'>";
            	for (var i=0; i<res.posts.length; i++) {
             	 	htmlStr += "<p>"+res.posts[i].description+"</p>";
          		}
            $('#quotes').html(htmlStr);
          }, 'json');
        });
      });
    </script>
  </head>
  <body>
    <h1>Quotsy</h1>
    <button id="btn">Get All Quotes</button>
    <div id="quotes">

    </div>
  </body>
</html>